---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Company from "../sections/company.astro";
import Product from "../sections/products.astro";
import Opening from "../sections/opening.astro";
---

<Layout title="Home">
  <main
    class="xl:mt-24 px-8 md:px-12 xl:px-28 flex flex-col gap-16 xl:items-center"
  >
    <Opening />
    <Company />
    <Product />
  </main>
</Layout>
