---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Title from "../components/shared/Title.astro";
import ButtonLink from "../components/shared/ButtonLink.astro";
---

<Layout title="Compre">
  <main class="mt-16 xl:mt-24 px-8 md:px-12 xl:px-28 flex flex-col gap-16 xl: xl:items-center">
    <div class="flex flex-col gap-8 items-center xl:items-start text-center xl:text-left">
      <Title>
        Compre nossos produtos
      </Title>
      <p class="md:text-xl">
        Entre em contato conosco pelo What's App para comprar online ou descobrir onde encontrar nossas Kombuchas.
      </p>
      <ButtonLink text="Fale Conosco" newPage="true" href="https://wa.me/5516936184991?text=Ol%C3%A1%2C+gostaria+de+fazer+um+pedido+%3A%29" className="flex justify-center w-full sm:w-max" variant="primary"/>
    </div>
  </main>
</Layout>
