---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Title from "../components/shared/Title.astro";
import Container from "../components/shared/Container.astro";

---

<section id="company">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>
        Sobre a marca!
      </Title>

      <Paragraph className="md:text-xl">
        Num mundo onde todos buscam qualidade de vida e se preocupam com o meio
        ambiente, a consciência de que seu estilo de vida contribui para um
        mundo mais sustentável, preservando a natureza, torna-se um diferencial
        que proporciona conforto e bem-estar. A criatividade é a chave capaz de
        transformar o ordinário em extraordinário, e é ela que orientará a
        essência singular de nossa marca.
      </Paragraph>
      <Paragraph className="md:text-xl">
        A kombucha Viva Terra surgiu da paixão de Eduardo pela natureza,
        sustentabilidade e produtos de qualidade superior para o meio ambiente e
        para a saúde. A produção é artesanal e inteiramente com ingredientes
        naturais, alguns deles plantados pelo próprio produtor.
      </Paragraph>
      <Paragraph className="md:text-xl">
        Nosso propósito é criar uma marca que alinhe o bem-estar à conservação
        do meio ambiente. Que fortaleça sabores nacionais e surpreenda as
        pessoas com um produto de alta qualidade.
      </Paragraph>
    </div>
  </Container>
</section>
