---
import Button from "../components/Button.astro";
import ButtonLink from "../components/shared/ButtonLink.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Title from "../components/shared/Title.astro";
import Container from "../components/shared/Container.astro";
import banner from "../images/banner-branco.jpeg"

---
<section id="opening">
  <div
      class="m-0 xl:mt-0 px-0 md:px-0 xl:px-0 flex flex-col gap-16 xl:flex-row-reverse xl:items-center "
    >
    <a href="https://wa.me/5516936184991?text=Ol%C3%A1%2C+gostaria+de+fazer+um+pedido+%3A%29" target="_blank">
      <img
          src={banner}
          alt=""
          class="mx-auto xl:mx-0 w-full xl:w-full xl:mr-0"
        />
    </a>
    </div>  
</section>

